<div #root class="overlay right active not-hidden-block">
    <i class="icon icon-close overlay-close" (click)="cancel()"></i>

    <div class="section-heading" *ngIf="mode == 'edit'">
        <div class="svg-icon"><img src="/assets/svg/discount_details.svg"/></div>
        <h1 class="section-title">Edit Patient Group</h1>
    </div>
    <div class="section-heading" *ngIf="mode == 'add'">
        <div class="svg-icon"><img src="/assets/svg/discount_details.svg"/></div>
        <h1 class="section-title">Add New Patient Group</h1>
    </div>
    <div class="section-heading" *ngIf="mode == 'view'">
        <div class="svg-icon"><img src="/assets/svg/discount_details.svg"/></div>
        <h1 class="section-title">Patient Group Details</h1>
    </div>

    <ng-container *ngIf="object">

        <ng-container *ngIf="mode == 'view'">

            <div class="detail-row">
                <div>
                    <span class="input-label">Group Name</span>
                    <h5 class="product-info">{{object.name}}</h5>
                </div>
            </div>

            <div class="detail-row">
                <div>
                    <span class="input-label">Description</span>
                    <h5 class="product-info" style="white-space: pre-wrap">{{object.description}}</h5>
                </div>
            </div>

            <span *ngIf="groupNotEmpty" style="color: red;">Cannot delete a group that contains patients. Please re-assign them before deleting.</span>

            <div class="overlay-action-buttons" *ngIf="user.Permissions.patientManagement == 'edit' && user.Permissions.canEditPatientGroups">
                <button class="btn secondary grey" (click)="remove()"><i class="icon icon-remove"></i>Remove</button>
                <button class="btn secondary blue" (click)="edit()"><i class="icon icon-edit"></i>Edit</button>
            </div>

        </ng-container>

        <ng-container *ngIf="mode != 'view'">

            <ul *ngIf="errors" class="errors" style="padding: 1rem; color: red">
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>


            <div class="input-row">
                <md-input-container class="default single">
                    <input [class.error]="errorFlags.name" mdInput placeholder="Group Name" [(ngModel)]="object.name"/>
                </md-input-container>
            </div>

            <div class="input-row">
                <md-input-container class="default single">
                    <textarea mdInput [class.error]="errorFlags.description" placeholder="Description" [(ngModel)]="object.description" style="border: 1px solid #d8dfe6; padding: 12px"></textarea>
                </md-input-container>
            </div>



            <div class="overlay-action-buttons">
                <button md-button class="btn secondary grey" (click)="cancel()"><i class="icon icon-cancel"></i>Cancel</button>
                <button md-button class="btn secondary blue" (click)="save()"><i class="icon icon-save"></i>Save</button>
            </div>

        </ng-container>

    </ng-container>
</div>
