.red-alert {
    background: red;
    color: #fff;
    padding: 0.1rem 2rem;
    margin: 0rem 0 2rem 0;
    text-align: center;
    font-size: 19px;
    width: calc(100% + 87px);

    margin-left: -45px;
    margin-top: -35px;
}

@media (min-width: 1025px){
    .red-alert {
        margin-left: -60px;

        width: calc(100% + 107px);
    }
}

@media (min-width: 1380px){
    .red-alert {
        margin-top: -65px;
        margin-left: -60px;

        width: calc(100% + 107px);
    }
}

@media (min-width: 1440px){
    .red-alert {
        margin-left: -75px;

        width: calc(100% + 122px);
    }
}
