<main class="content active">
    <table class="employee-timesheets">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Last Date Worked</th>
            <th>Last Clock In</th>
            <th>Last CLick Out</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Judy</td>
            <td>Torres</td>
            <td>4/1/17</td>
            <td>8:00 am</td>
            <td>5:00 am</td>
            <td class="table-action" data-overlay-toggler="emTimesheetDetails">
                <span class="flat-ripple"><i class="icon icon-edit"></i>All Timesheets</span>
            </td>
        </tr>
        </tbody>
    </table>
</main>
