<div class="container-separate has-left-sidebar" id="mainPanel">
    <div class="left-sidebar">
        <a routerLink="/admin/test/barcode" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Barcode</a>
        <a routerLink="/admin/test/drawer" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Drawer</a>
        <a routerLink="/admin/test/item" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Item</a>
        <a routerLink="/admin/test/line-item" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Line Item</a>
        <a routerLink="/admin/test/package" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Package</a>
        <a routerLink="/admin/test/product" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Product</a>
        <a routerLink="/admin/test/receipt" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Receipt</a>
        <a routerLink="/admin/test/transaction" routerLinkActive="active" class="left-sidebar-item" (click)="hideLeftNav()">Test Transaction</a>
    </div>
    <router-outlet></router-outlet>
</div>