.ui-dialog .ui-dialog-buttonpane button {
    flex: none !important;
}

.input-label-bigger {
    font-weight: bold;
    font-size: 15px !important;
}

.input-label {
    font-weight: bold;
}

.success-mesage {
    padding: 3rem 3rem 1rem;
    font-weight: bold;
}

.ui-dialog-buttonpane {
    padding-bottom: 1rem; 
}