<div class="overlay pos-overlay has-padding right" data-overlay-target="productDetails">
    <i class="icon icon-close overlay-close" data-overlay-close></i>

    <div class="detail-row">
        <div>
            <span class="input-label">Product Details</span>
            <h5 class="product-info">Chewbacca</h5>
        </div>
    </div>

    <div class="detail-row">
        <div>
            <span class="input-label">Price</span>
            <h5 class="product-info">$8.00</h5>
        </div>
    </div>

    <div class="detail-row">
        <div>
            <span class="input-label">Quantity</span>
            <h5 class="product-info">100 grams</h5>
        </div>
    </div>

    <div class="detail-row">
        <div>
            <span class="input-label">Supplier</span>
            <h5 class="product-info">Kushmart</h5>
        </div>
    </div>

    <div class="detail-row">
        <div>
            <span class="input-label">Brand</span>
            <h5 class="product-info">High Expectations</h5>
        </div>
    </div>

    <div class="detail-row">
        <div>
            <span class="input-label">SKU</span>
            <h5 class="product-info">12345868188191918187</h5>
        </div>
    </div>

    <div class="detail-row">
        <div>
            <span class="input-label">Notes</span>
            <h5 class="product-info">Fusce vehicula dolor arcu, sit amet
                blandit dolor mollis nec. Donec vive
                eleifend lacus, vitae ullamcorper
                metus viverra.</h5>
        </div>
    </div>
</div>
