<main class="single-padded">
    <section class="padded" (keyup.enter)="updatePassword()">
        <div class="padded-title">
            <div class="padded-icon"><img src="/assets/svg/logo.svg"/></div>
            <h2 class="bold-title">Please enter your new password.</h2>
        </div>


        <div class="input-row">
            <label class="input-label">Password</label>
            <input type="password" placeholder="Enter Your New Password" [(ngModel)]="password1">
        </div>

        <div class="input-row">
            <label class="input-label">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" [(ngModel)]="password2">
        </div>

        <div style="text-align: left" *ngIf="errors">
            <div class="errors" style="padding: 1rem; color: red" *ngFor="let error of errors">
                {{error}}
            </div>
        </div>

        <div class="section-action center">
            <button class="btn secondary blue" (click)="updatePassword()">Set Password</button>
            <div><a class="blue" (click)="backToLoginPage()">Back to sign in</a></div>
        </div>
    </section>
</main>
