<div class="container" id="mainPanel">


    <app-sales-over-time></app-sales-over-time>

    <div>

        <app-sales-by-product-type></app-sales-by-product-type>

        <div class="double-boxes">

            <app-bestselling-products></app-bestselling-products>


            <app-bestselling-brands></app-bestselling-brands>

        </div>

    </div>

    <!--<div class="section-box single-halfwidth">-->
        <!--<app-top-performing-budtenders></app-top-performing-budtenders>-->
    <!--</div>-->
</div>
